<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-light" style="background-color: #F6B40E">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand" style="color: #FFFFFF">Lumineida: una empresa de diseño web</p>
    </div>
  </div>

    <ul class="nav navbar-nav navbar-right">
      </li>
    </ul>
  </div>
</nav>
